p {
    margin: 0;
}

body {
    font: 2em/1.618 arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vw;
    padding: 30px;
    background: url();
    background-size: auto;
}


.cutlery {
    height: 100px;
    border-radius: 50%;
    transform: scale(1.1);
    transition: 0.5s;
    padding: 50px;
    column-gap: 100vh;
}

.hihi {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 220px;
}

.end {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

.end :hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.hihi .cutlery {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.X {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    height: 600px;
    padding: 35px;
    color: #0476D9;
    border: 2px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    background: linear-gradient(120 deg,
            rgba(255, 255, 255, .25),
            rgba(255, 255, 255, .75),
            rgba(255, 255, 255, .25),
        );
    backdrop-filter: blur(10px);
}