* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 10px;
}

.X {
    width: 80%;

    padding: 2vw;

    color: #260A03;

    background-color: #9E7054;
    border-radius: 10px;
    box-sizing: border-box;
}

.all-produtos {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 10px;

    box-shadow: inset 0 0 5px #785540;

    /* border: solid 1px black; */
}

.produto {
    display: flex;
    column-gap: 1.5vw;
}

.C {
    height: min-content;
    width: 15%;
}

.cutlery {
    height: 10vw;
    object-fit: cover;
}

.nome {
    font-size: 15px;

    width: 20%;
}

/* Finalizar compra */
.end {
    font-size: 20px;
    width: 35%;
    height: 45px;

    border: none;
    border-radius: 25px;
    background-color: #B88362;
    color: white;
    transition: transform 0.2s;
}

.end:hover {
    transform: scale(1.05);
}

.B {
    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
}