/* 
=======
Header Styles
=======
*/
header {
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkslategray;
}

.header-logo {
    width: 20%;
    height: 50%;
}

.header-logo img {
    height: 100%;
}

.nav-menu {
    width: 60%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items {
    width: 100%;

    display: flex;
    justify-content: space-around;

    list-style: none;
}

.item a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}

.item {
    position: relative;
}

.item::before {
    content: "";

    position: absolute;
    left: -15px;
    top: -15px;

    height: 0;
    width: 2px;

    transition: height 0.5s;

    background-color: aliceblue;
}

.item:hover::before {
    height: 80px;
}

/*
=======
Footer Styles
=======
*/
footer {
    background-color: darkslategrey;
    padding: 5em 0 40px 0;
    box-shadow: 0 -8px 10px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    box-sizing: border-box;

    width: 100%;
}

footer h2,
footer p,
footer a,
footer span {color: #B2B2B2;}

footer h2 {font-size: 32px; font-weight: normal;}

footer a {text-decoration: none;}

footer ul {
    padding: 0;
    margin-top: 15px;
}

footer li {
    list-style: none;
    margin-top: 5px;
}

.footer_box {
    width: 31%;
    padding: 1%;
    float: left;
}

.wrapper {
    width: 80%;
}

footer .wrapper {
    clear: both;
    content: "";
    display: block;
}

.company_footer {
    width: 80%;
}

.company_footer {
    margin-top: 20px;
}

.company_footer h2,
.company_footer p {
    margin-bottom: 20px;
}

.company_footer img {
    margin-left: 45px;
    border-radius: 50%;
}

.footer_list {
    margin-bottom: 15px;
}

.footer_list a {
    transition: .5s;
}

.footer_list a:hover {
    color: #FFF;
}

.footer_list li:after {
    clear: both;
    content: "";
    display: block;
}

.article_footer {
    width: 80%;
}

.footer_list.footer_article_list span {
    display: block;
    float: none;
}

.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}

.footer_list li span {
    float: left;
    height: 30px;
    line-height: 30px;
}

.footer_bottom .wrapper {
    border-top: 1px solid #B2B2B2;
    width: 100%;
}

.footer_bottom p {
    font-weight: 600;
    margin-top: 40px;
    margin-left: 10px;
}