body {
    min-height: 120vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #B2B2B2, #FFF);
}

/* ================================ */
main {
    height: 50vh;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid 1px red; */
}

.div-entrar form {
    height: 60%;
    width: 60%;

    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #78A88E;
    border-radius: 0.6vw;
}

.div-entrar {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: solid 1px black; */
}

.entrada-dados {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.entrada-dados label {
    width: 20%;

    text-align: end;

    /* border-bottom: solid 1px black; */
}

.entrada-dados input {
    width: 75%;
}

.buttom {
    width: 50%;
    height: 25%;

    background-color: #A62B3B;
    border: none;
    border-radius: 0.5vw;
    box-shadow: 0 3px 0 rgb(168, 32, 62);
    color: white;
}

.buttom:active {
    background-color: rgb(168, 32, 62);
}