* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: whitesmoke;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ================================================================================================================= Header */
header {
    height: 20vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../images/cozinha_header.jpg");
    background-position: 0.7vw 20%;
    background-repeat: repeat;
    background-size: cover;

    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.header-top {
    width: 50%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 4px white;

    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 25px;

    box-sizing: border-box;
}

.header-top img {
    height: 100%;
    margin-bottom: 10px;
}

.header-top input {
    width: 200px;
    height: 40%;

    padding-left: 10px;

    border-radius: 10px;
}

.header-top h2 {
    color: chocolate;
    font-size: xx-large;
}

/* ============================================================================================================ Main */
main {
    width: 80%;
    min-height: 40vh;

    margin-top: 5vh;

    display: flex;
}

.options {
    width: 20%;

    flex-shrink: 0;

    background-color: rgb(233, 233, 233);
}

/* ======================================================== Produtos */
/* Fiz a maioria com "px". Sem responsividade, prefiro deixar pra trabalhar depois*/
.all-produtos {
    height: fit-content;
    width: 80%;

    display: flex;
    justify-content: flex-start;
    column-gap: 2vw;
    row-gap: 3vh;
    flex-wrap: wrap;

    padding: 2%;

    border: 1px solid black;
}

.moldura {
    width: 180px;
    height: 300px;

    transition: box-shadow 0.6s;

    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.moldura:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.moldura img {
    width: 100%;
    height: 50%;

    object-fit: cover;
    object-position: center;

    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.conteudo {
    height: 50%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: 10px;
    padding-top: 0;

    box-sizing: border-box;
}

.conteudo h4 {
    text-align: center;
    font-size: small;
}

.conteudo p {
    font-size: x-small;
}

.compra {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: flex-end;
}

.botoes-compra {
    font-size: x-small;

    border-radius: 5px;
    border: none;

    padding-left: 5px;
    padding-right: 5px;
}

.add-carrinho {
    background-color: rgb(207, 232, 253);
    box-shadow: 0 2px 0 rgb(162, 190, 212);
}

.add-carrinho:active {
    background-color: rgb(162, 190, 212);
}

.detalhes {
    background-color: rgb(233, 233, 233);
    box-shadow: 0 2px 0 rgb(197, 197, 197);
}

.detalhes:active {
    background-color: rgb(197, 197, 197);
}

/* =============================================================================================== Footer */
footer {
    height: 8vh;
    width: 100%;

    background-image: url("../images/cozinha_header.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}