HEAD body {
    min-height: 120vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #B2B2B2, #FFF);
}

/* ================================ */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
    padding: 50px 0 50px 0;
}

.div-entrar form {
    width: 80%;
    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #78A88E;
    border-radius: 0.6vw;
}

.div-entrar {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrada-dados {
    width: 70%;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: none;
    align-items: center;
}

.entrada-dados label {
    width: 20%;
}

.entrada-dados input {
    width: 75%;
    height: 35px;
    outline: 0;
}

.buttom {
    width: 44%;
    height: 50px;

    background-color: #A62B3B;
    border: none;
    border-radius: 0.5vw;
    box-shadow: 0 3px 0 rgb(168, 32, 62);
    color: white;
}

.buttom:active {
    background-color: rgb(168, 32, 62);
}